<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In </string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.149046257525-ec1no79e0i9flfpjsich3a2vlnf4gjd2</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>149046257525-ec1no79e0i9flfpjsich3a2vlnf4gjd2.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>DISCOVERY.ttf</string>
		<string>VTKS DURA 3d.ttf</string>
		<string>CormorantGaramond-SemiBold.ttf</string>
	</array>
	<key>UIAppSupportsHDR</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHealthUpdateUsageDescription</key>
	<string>KaizenX folosește HealthKit pentru a salva antrenamentele și activitatea ta zilnică.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>KaizenX citește pașii și antrenamentele tale pentru a-ți afișa progresul zilnic.</string>
</dict>
</plist>
